.skill-level-container {
	min-height: 300px;
	background-color: #eed9b8;
	padding: 90px 0px;
	
	& .skill-wrapper {
		max-width: $contentWidth;
		margin: auto;
	}
	
	& .skill-section {
		float: left;
		width: 33.33333%
	}
}