<div class="skill-level-container">
	<div class="skill-wrapper">
		<div class="skill-section">
			<div class="skill-content">
				<div class="value-percent">0</div>
				<canvas id="javaSkill" data-percent="80" width = "228" height = "228"></canvas>
				<div class="value-text">JAVA</div>	
			</div>
			<div class="detail-skill-section">
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 70%;" data-value="70%" data-skill="Spring"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 60%;" data-value="60%" data-skill="JavaEE"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 80%;" data-value="80%" data-skill="JavaCore"></div>
				</div>
			</div>
		</div>

		<div class="skill-section">
			<div class="skill-content">
				<div class="value-percent">0</div>
				<canvas id="phpSkill" data-percent="70" width = "228" height = "228"></canvas>
				<div class="value-text">PHP</div>	
			</div>
			<div class="detail-skill-section">
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 60%;" data-value="60%" data-skill="Zend Framework 2"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 70%;" data-value="70%" data-skill="PHP core"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 50%;" data-value="50%" data-skill="Laravel 5"></div>
				</div>
			</div>
		</div>
		
		<div class="skill-section">
			<div class="skill-content">
				<div class="value-percent">0</div>
				<canvas id="cssSkill" data-percent="85" width = "228" height = "228"></canvas>
				<div class="value-text">HTML</div>	
			</div>
			<div class="detail-skill-section">
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 80%;" data-value="80%" data-skill="CSS3"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 80%;" data-value="80%" data-skill="Javascript"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 85%;" data-value="85%" data-skill="JQuery"></div>
				</div>
				<div class="detail-skill-content">
					<div class="progress-skill" style="width: 80%;" data-value="80%" data-skill="Bootstrap"></div>
				</div>
				<div class="detail-skill-content">	
					<div class="progress-skill" style="width: 80%;" data-value="80%" data-skill="Angular 1"></div>
				</div>
			</div>
		</div>

	</div>
</div>