<div class="skill-level-container">
	<div class="skill-wrapper">
		<div class="skill-section">
			<div class="skill-content">
				<div class="value-percent">0</div>
				<canvas id="javaSkill" data-percent="100" width = "228" height = "228"></canvas>
			</div>
		</div>

		<div class="skill-section">
			<div class="skill-content">
				<div class="value-percent">0</div>
				<canvas id="phpSkill" data-percent="20" width = "228" height = "228"></canvas>
			</div>
		</div>
		
		<div class="skill-section">
			<div class="skill-content">
				<div class="value-percent">0</div>
				<canvas id="cssSkill" data-percent="50" width = "228" height = "228"></canvas>
			</div>
		</div>

	</div>
</div>