<div class="project-container">
	<h2 class="title" id="project">Projects</h2>
	
	<div class="project-content">
		<div class="project-item">
			<div class="project-detail">
				<img src="/app/asserts/images/projects/project1.png" alt="" />
				<div class="des-project-item">Project name detail here</div>
			</div>
		</div>

		<div class="project-item">
			<div class="project-detail">
				<img src="/app/asserts/images/projects/project2.png" alt="" />
				<div class="des-project-item">Project name detail here</div>
			</div>
		</div>
	</div>
</div>