<div class="resume-container">
	<h2 class="title" id="resume">RESUME</h2>

	<div class="resume-detail-wrapper">
		<ul class="resume-tree">
			<li class="resume-item year"><span>2016</span></li>
			<li class="resume-item">
				
				<div class="left-item top-level-2">
					<div class="content-item">
						<h2 class="title-item">Continue Technical Architect</h2>
						<div class="working-time"><i class="fa fa-clock-o"></i> Past-Present-Future</div>
						<div class="content-item-detail">My dream is not stop at Seinor Web Developer. I improve my self every single day to get higher level.<br/>Become stronger everyday :) </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</li><!-- end item -->
			<li class="resume-item">
				
				<div class="left-item top-level-2">
					<div class="content-item">
						<h2 class="title-item">Freelancer Project</h2>
						<div class="working-time"><i class="fa fa-clock-o"></i> June 2016 - present</div>
						<div class="content-item-detail">Didn't waste my free time, I decided take challenge and looking for a job in freelancer and do everything that customer require.<br/>If they require new technical I study that technical and can work for them.</div>
					</div>
				</div>

				<div class="right-item top-level-6">
					<div class="content-item">
						<h2 class="title-item">Senior Web Developer</h2>
						<div class="working-time"><i class="fa fa-clock-o"></i> January 2016 - present</div>
						<div class="content-item-detail">I had strong experience in Java Web, during working in company, self study and finished personal project.<br/>Font-end is improve a lot of thing.</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</li><!-- end item -->
			<li class="resume-item year"><span>2014</span></li>
			<li class="resume-item">
				
				<div class="left-item top-level-5">
					<div class="content-item">
						<h2 class="title-item">Graduated</h2>
						<div class="working-time"><i class="fa fa-clock-o"></i> April 2014</div>
						<div class="content-item-detail">Got degree and leave school for new mission, new challenge.<br/>
						Started looking for a job.</div>
					</div>
				</div>

				<div class="right-item">
					<div class="content-item">
						<h2 class="title-item">Working in Axonactive VietNam</h2>
						<div class="working-time"><i class="fa fa-clock-o"></i> May 2014 - present</div>
						<div class="content-item-detail">In the last days of school. I received an offer of Axonactive Company. I worked for them about Java Web. At that time I had six months for training and self study before work on customer's project.<br/>
						I knew a bout Spring MVC, JSF and JavaEE. It's realy a great knowledge that I have.<br/>Axonactive gave me a cool enviroment to work, study and self improve soft skill.
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</li><!-- end item -->

			<li class="resume-item year"><span>2010</span></li>

			<li class="resume-item">
				
				<div class="left-item">
					<div class="content-item">
						<h2 class="title-item">Can Tho of University</h2>
						<div class="working-time"><i class="fa fa-clock-o"></i> September 2010 - May 2014</div>
						<div class="content-item-detail">I was studied a great technical at school. From font-end to back-end. I began know about C, Java, Php, C# and Database Design.<br/>
						Everything was wonderful and I began work on some basic project and tool to support me in real life.</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</li><!-- end item -->
		</ul>
	</div>

</div>