/*common variable*/
$contentWidth = 1200px;
/* header variable */
$bgHeader = #cf5037;
$colorHeader = white;
$heightHeader = 50px;
$bgActiveItemHeader = #d97460;

/* about me variable */
$bgColorAboutMe = #ffe9c8;