/* variable */
@import "_variable.styl";

/* reset */
@import "_common.styl";

/* reset */
@import "_reset.styl";

/* header css */
 @import "../../views/partials/header/_header.styl";
 
/* person info css */
@import "../../views/partials/info-person/_info-person.styl";
