/* variable */
@import "_variable.styl";

/* reset */
@import "_common.styl";

/* reset */
@import "_reset.styl";

/* header css */
 @import "../../views/partials/header/_header.styl";
 
/* person info css */
@import "../../views/partials/info-person/_info-person.styl";

/* about me css */
@import "../../views/partials/about-me/_about-me.styl";

/* skill level */
@import "../../views/partials/skill-level/_skill-level.styl";

/* resume */
@import "../../views/partials/resume/_resume.styl";

/* project */
@import "../../views/partials/project/_project.styl";

/* contact */
@import "../../views/partials/contact/_contact.styl";

/* footer */
@import "../../views/partials/footer/_footer.styl";
