.person-info-container {
	height: 680px;
	background-image: url('/app/asserts/images/backgrounds/background-info-person.PNG');
	background-size: cover;
	
	& .wrap-content {
		max-width: $contentWidth;
		margin: auto;
		padding-top: 100px;
		
		& .person-image {
			float: left;
			& img {
				border-radius: 100%;
				width: 400px;
				height: 400px;
				border: 15px solid rgba(0,0,0,0.1);
			}
		}

		& .person-info {
			margin-left: 480px;
			margin-top: 100px;
			
			& .big-greeting {
				font-size: 5em;
				color: white;
			}
			
			& .brief-about-me {
				font-size: 2.5em;
				color: white;
			}
			
			& .link-hire-me {
				background-color: #d25b43;
				color: white;
				padding: 10px 15px;
				display: inline-block;
			}
		}
	}
}