<div class="about-me-container">
	<h2 class="title">ABOUT ME</h2>
	<div class="brief-introduction">
		Monotonectally conceptualize go forward relationships and effective paradigms. Uniquely build team building convergence rather than progressive manufactured products. Quickly build professional web services through cross functional vortals. Synergistically transform functionalized e-markets through performance based human capital. Energistically engage global core competencies vis-a-vis superior architectures.

Holisticly foster process-centric core competencies whereas impactful meta-services. Seamlessly evisculate accurate leadership vis-a-vis highly efficient users. Authoritatively grow multifunctional action items and competitive processes. Collaboratively maximize resource sucking.
	</div>
	<div class="my-skill">
		<!-- Music -->
		<div class="col-25">
			<div class="title-skill"><i class="fa fa-headphones" aria-hidden="true"></i> Music</div>
			<div class="content-skill">
				Efficiently revolutionize one-to-one potentialities before B2B models. Continually leverage other's resource-leveling niche markets whereas focused processes. Distinctively transition high standards in total linkage.
			</div>
		</div>

		<!-- Movies -->
		<div class="col-25">
			<div class="title-skill"><i class="fa fa-film" aria-hidden="true"></i> Movies</div>
			<div class="content-skill">
				Holisticly pursue pandemic services before distributed experiences. Collaboratively envisioneer just in time niches before ubiquitous e-services. Appropriately enable scalable e-business with leveraged opportunities.
			</div>
		</div>

		<!-- Traveling -->
		<div class="col-25">
			<div class="title-skill"><i class="fa fa-suitcase" aria-hidden="true"></i> Traveling</div>
			<div class="content-skill">
				Authoritatively transition global web services vis-a-vis user-centric content. Rapidiously innovate principle-centered resources via intuitive models. Monotonectally integrate collaborative core competencies before best-of-breed potentialities.
			</div>
		</div>

		<!-- Books -->
		<div class="col-25">
			<div class="title-skill"><i class="fa fa-book" aria-hidden="true"></i> Books</div>
			<div class="content-skill">
				Holisticly restore resource-leveling methodologies rather than distinctive e-services. Seamlessly whiteboard unique quality vectors via functionalized catalysts for change. Enthusiastically embrace proactive outsourcing through.
			</div>
		</div>
	</div>
	
	<br class="clearfix"/>
	<div class="follow-me">
		<div>
			Follow me on: 
			<i class="fa fa-facebook" aria-hidden="true"></i> 
			<i class="fa fa-twitter" aria-hidden="true"></i> 
			<i class="fa fa-google-plus-square" aria-hidden="true"></i>
			<i class="fa fa-linkedin" aria-hidden="true"></i>
			<i class="fa fa-dribbble" aria-hidden="true"></i>
		</div>
	</div>

</div>