.about-me-container {
	background-color: $bgColorAboutMe;
	min-height: 400px;
	& .title {
		text-align: center;
	}
	
	& .my-skill {
		margin: auto;
		max-width: $contentWidth;
	}
	
	& .follow-me {
		margin: auto;
		max-width: $contentWidth;
	}
}