<div class="about-me-container">
	<h2 id="aboutme" class="title">ABOUT ME</h2>
	<div class="brief-introduction">
		People call my name is "Mai Danh", I'm a web developer, I can work well with PHP, Web Programing, C#, C, JAVA and Database Server. From school I'm very interest on web and want to become stronger. And make a helpful webside for people can you.<br/>
		I'm a litte person with big thing inside.
	</div>
	<div class="my-skill">
		<!-- Music -->
		<div class="col-33">
			<div class="title-skill"><i class="fa fa-headphones" aria-hidden="true"></i> Entertainment</div>
			<div class="content-skill">
				I like to listen to lyrical music, watch motivation video on the internet.<br/>
				Chating with my girlfriend who make me happy. ^.^
			</div>
		</div>

		<!-- Traveling -->
		<div class="col-33">
			<div class="title-skill"><i class="fa fa-suitcase" aria-hidden="true"></i> Traveling</div>
			<div class="content-skill">
				With my girl frend any place is wonderful place, otherwise it's normal :)
			</div>
		</div>

		<!-- Books -->
		<div class="col-33">
			<div class="title-skill"><i class="fa fa-book" aria-hidden="true"></i> Books</div>
			<div class="content-skill">
				It really necessary to understant deeply something, read book is a good idea. <br/>
				Something opening random one chapter and you will see a lot of interesting there and it's also change my mind.
			</div>
		</div>
	</div>
	
	<br class="clearfix"/>
	<div class="follow-me">
		<div>
			Follow me on: 
			<a href="https://web.facebook.com/danh.maidanh" title="facebook address"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://plus.google.com/107465230889955064608/about" title="google plus address"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
		</div>
	</div>

</div>