.about-me-container {
	background-color: $bgColorAboutMe;
	min-height: 400px;
	padding: 90px 0px;
	& .title {
		text-align: center;
		margin-bottom: 30px;
	}
	
	& .brief-introduction {
		max-width: $contentWidth;
		margin: 0px auto 50px;
	}
	
	& .my-skill {
		margin: auto;
		max-width: $contentWidth;
	}
	
	& .follow-me {
		margin: 50px auto 0px;
		max-width: $contentWidth;
	}
}