.about-me-container {
	background-color: $bgColorAboutMe;
	min-height: 400px;
	padding: 90px 0px;
	& .title {
		text-align: center;
		margin-bottom: 30px;
		color: purple;
		font-size: 3em;
	}
	
	& .brief-introduction {
		max-width: $contentWidth;
		margin: 0px auto 50px;
	}
	
	& .my-skill {
		margin: auto;
		max-width: $contentWidth;
		
		& .title-skill {
			font-size: 1.5em;
			color: #555;
			margin-bottom: 20px;
		}
		
		& .content-skill {
			box-sizing: border-box;
			padding-right: 30px; 
		}
	}
	
	& .follow-me {
		margin: 50px auto 0px;
		max-width: $contentWidth;
		font-size: 1.3em;
		color: #555;
		
		& i {
			margin-right: 5px;
			color: #aaa;
		}
	}
}