.header-container {
	background : $bgHeader;
	& ul {
		max-width : 1000px;
		margin : auto;
		min-height : $heightHeader;
		text-align : center;
		& li {
			display : inline;
			margin-right : -5px; 
			& a {
				color : $colorHeader;
				display : inline-block;
				padding : 0px 10px;
				line-height : $heightHeader;
			}
			& a:hover {				
				background : $bgActiveItemHeader;
			}
			& a.selected {				
				background : $bgActiveItemHeader;
			}
		}
	}
}